<!DOCTYPE html>
<html>
<head>
	<title>Geolocalização</title>
	<meta charset="utf-8">
	<!-- Desativa zoom mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Leaflet CDN -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<!-- Bootstrap CDN -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="style.css" />

</head>
<body ng-app="geolocation">
	<div class="loading">
		<div class="icon-loading">
			<img src="loading.gif">
		</div>
	</div>
	<div class="container" ng-controller="geolocationCtrl">
		<div class="row page-header">
			<h2>Geolocalização</h2>
			<p>Descubra onde ficam os servidores de seus sites favoritos</p>
			<p>{{aviso}}</p>
		</div>
		<div class="row">
			<form name="dominioForm" ng-submit="submit()" class="form-group">
				<div class="col-sm-6 form-inline">
					Domínio: <input type="text" placeholder="Digite o domínio" ng-model="dominio" required class="form-control" id="dominio">
					<input type="submit" id="submit" value="Buscar" class="btn btn-default"/>
				</div>
				<div class="col-sm-3">
					<input type="button" class="btn btn-default pull-right" value="Limpar" ng-click="limpar()" />
				</div>
				<div class="col-sm-3">
					<input type="button" class="btn btn-default pull-left" value="Minha localização" ng-click="minhaLocalizacao()" />
				</div>
			</form>
		</div>
		<br/>
		<div class="row alert alert-info ng-show='distancia'">
			{{distancia}}
		</div>
		<div class="row">
			<div id="map" class="col-sm-12"></div>
		</div>
	</div>
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script src="script.js"></script>
	<script src="services.js"></script>
</body>
</html>