#map{ 
	height: 400px; 
	width: 100%;
}

.loading{
	display: none;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	background: rgba(255, 255, 255, 0.83);
	z-index: 9999;
}

.loading .icon-loading{
	position: absolute;
	top: 50%;
	left: 50%;
}